*{
    margin: 0;
    padding: 0;
}

body {
    
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.yellowBar {
    background-color: #ffcb05;
    height: 5px;
    width: 100%;
}

#navbar {
    height: 40px;
    background-color: #ffffff;
    color: #333;
    padding: 10px;
    text-align: center;
}

#navbar #logo {
    width: 10%;
    padding-right: 10%;
}

#navbar a {
    color: #333;
    font-weight: bold;
    font-size: 110%;
    text-decoration: none;
    margin: 0 15px;
}

.main-body {
    height: 500px;
    margin-top: 100px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-body h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3d4142;
}

.main-body h1, .main p {
    text-align: center;
}

.chatbox {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #ffffff;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px groove #dee2e6;
    border-radius: 1%;
    position: relative;
}

.chatbox .chat-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.chatbox .bot-message {
    padding-top: 5%;
}

.chat-form {
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}



/* contact_form.html */
.contact-body{
    margin-top: 100px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-body h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3d4142;
}

.contact-form{
    width: 50%;
    border: 1px solid #ccc;
    margin-top: 2%;
    padding: 2%;
    background-color: #ffffff;
    box-shadow: inset;
}

.contact-form input{
    margin-bottom: 5%;
}

.contact-form .full-name-div{
    margin-bottom: 6%;
}

.contact-form .insurance-select-div{
    margin-bottom: 8%;
}

.contact-form .date-of-birth-div{
    margin-bottom: 3%;
}

.contact-form .current-position-div{
    margin-bottom: 4%;
}

.contact-form .email-address-div{
    margin-bottom: -3%;
}

.contact-form .submit-button{
    width: 100%
}

.footer{
    background-color: #184A58;
    height: 90px;
}

.footer p{
    color: #fff;
}





.column a{
    font-size: 100%;
}   

#mortgageCalculatorImg{
    margin-top: 30%;
    width: 70%;
}

#interestRateCalculatorImg{
    margin-top: 50%;
    width: 70%;
}

#carPaymentCalculatorImg{
    margin-top: 30%;
    width: 80%;
}








@media only screen and (min-width: 375px){
    #navbar{
        height: 50px;
    }

    #navbar ul{
        width: 90%;
    }

    #navbar a{
        font-size: 80%;
    }

    .contact-body{
        margin-top: 100px;
    }

    .contact-body h1{
        font-size: 120%;
    }

    .contact-form{
        width: 100%;
        border: 1px solid #ccc;
        margin-top: 2%;
        padding: 2%;
        background-color: #ffffff;
        box-shadow: inset;
    }

    .contact-form label, p{
        font-size: 90%;
    }

    .contact-form .insurance-select-div{
        width: 100%;
    }

    .calculator-row{
        margin-top: 10%;
    }

    .column a{
        font-size: 50%;
    }

    .column{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    #mortgageCalculatorImg{
        margin-top: 10%;
        margin-bottom: 20%;
        width: 20%;
    }

    #interestRateCalculatorImg{
        margin-top: 10%;
        margin-bottom: 20%;
        width: 20%;
    }

    #carPaymentCalculatorImg{
        margin-top: 10%;
        margin-bottom: 20%;
        width: 20%;
    }
}



@media only screen and (min-width: 768px){

    .yellowBar{
        min-height: 1vh;
    }

    #navbar{
        min-height: 10vh;
    }

    #navbar ul{
        height: 100%;
    }

    #navbar ul a{
        font-size: 150%;
    }

    .contact-body{
        margin-top: 150px;
    }

    .contact-form{
        width: 70%;
        border: 1px solid #ccc;
        margin-top: 2%;
        padding: 2%;
        background-color: #ffffff;
        box-shadow: inset;
    }

    .footer{
        min-height: 10vh;
    }




    .column{
        float: left;
        width: 17%;
        text-align: center;
        margin-top: 100px;
        margin-left: 10%;
        padding: 10px;
    }

    .column a{
        font-size: 80%;
    }


    .column img{
        display: inline-block;
        margin: auto;
        width: 200px;
    }

    #mortgageCalculatorImg{
        margin-top: 70%;
        width: 80%;
    }

    #interestRateCalculatorImg{
        margin-top: 50%;
        width: 70%;
    }

    #carPaymentCalculatorImg{
        margin-top: 30%;
        width: 80%;
    }

    #calculator{
        margin-top: 100px;
    }

    .mortgage-calculator{
        margin-top: 100px;
    }

    #initialAmount, #inflationRate, #years{
        width: 500px;
    }

    .Calculate-button{
        position: relative;
        left: 230px;
    }

    .top h2{
        text-align: center;
    }}

    #car{
        width: 200px;
        position: relative;
        left: 50px;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
    flex-wrap: nowrap; /* Ensure no wrapping */
}

.calbtn {
    flex: 1; /* Make all columns equally flexible */
    text-align: center;
    justify-content: center;
    padding: 10px; /* Adjust padding to decrease the height */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s;
    cursor: pointer;
    overflow: hidden;
    line-height: 1.2;
    margin-right: 5px; /* Add some spacing between columns */
}

.calbtn:last-child {
    margin-right: 0; /* Remove margin-right for the last column */
}

.calbtn:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    background-color: #fcdc58; /* Change to yellow color on hover */
}

.calbtn h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}


.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px; /* Set a maximum width */
    margin: 100px auto; /* Center the container */
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes the container take up the full height of the viewport */
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.input-container, .graph-container {
    flex: 1;
}
