.mortgage-calculator{

    font-family: "Roboto", sans-serif;
    width: 600px;
    margin: 24px auto; 
    background: white;
    box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #14213d;
}



.mortgage-calculator .top{

    background-color: orangered;
    color: #fff;
    padding: 32px; 
}

.mortgage-calculator .top h2{
    margin-top: 0;
}

.mortgage-calculator form{

    display: flex;
    gap: 12px; 
    justify-content: space-between;
}

.mortgage-calculator .title{
    margin-bottom: 16px;
}

.mortgage-calculator form input{
    font-size: 20px;
    padding: 12px 16px ;
    width: 100%;
}

.mortgage-calculator .result{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mortgage-calculator .result .left{
    width: 100%;
    padding: 8px 32px;
}

.mortgage-calculator .total-mortgage .left{
    width: 100%;
    padding: 8px 32px;
}


.mortgage-calculator .total-Amount .left{
    width: 100%;
    padding: 8px 32px;
}

.mortgage-calculator .left h3{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.mortgage-calculator .newres .value{
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(20, 33, 61, 0.2)
}



.mortgage-calculator .newres .value::before{
    content: "CA$";
    font-size: 24px; 
    font-weight: 400;
    margin-right: 6px;
    opacity: 0.4;
}

.mortgage-calculator .Calculate-button{

    background: #e63946;
    color: white;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 18px; 
    font-weight: 900;
    cursor: pointer;
    margin: 24px 0;
}



