*{
    margin: 0;
    padding: 0;
}

body {
    justify-content: space-between; 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.yellowBar {
    background-color: #ffcb05;
    height: 5px;
    width: 100%;
    min-height: 1vh;
}

#navbar {
    height: 40px;
    background-color: #ffffff;
    color: #333;
    padding: 10px;
    text-align: center;
}

#navbar #logo {
    width: 10%;
    padding-right: 10%;
}

#navbar a {
    color: #333;
    font-weight: bold;
    font-size: 110%;
    text-decoration: none;
    margin: 0 15px;
}

.main-body {
    height: 500px;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-body h1, .main p {
    text-align: center;
}

.chatbox {
    margin-top: 10px;
    margin-bottom: 510px;
    background-color: #ffffff;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px groove #dee2e6;
    border-radius: 1%;
    position: relative;
}

.chatbox .chat-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.chatbox .bot-message {
    padding-top: 5%;
}

.chat-form {
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}



/* contact_form.html */
.contact-body{
    margin-top: 100px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-body h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3d4142;
}

.contact-form{
    width: 50%;
    border: 1px solid #ccc;
    margin-top: 2%;
    padding: 2%;
    background-color: #ffffff;
    box-shadow: inset;
}

.contact-form input{
    margin-bottom: 5%;
}

.contact-form .full-name-div{
    margin-bottom: 6%;
}

.contact-form .insurance-select-div{
    margin-bottom: 8%;
}

.contact-form .date-of-birth-div{
    margin-bottom: 3%;
}

.contact-form .current-position-div{
    margin-bottom: 4%;
}

.contact-form .email-address-div{
    margin-bottom: -3%;
}

.contact-form .submit-button{
    width: 100%
}

.footer{
    background-color: #184A58;
    height: 90px;
}

.footer p{
    color: #fff;
}

.column a{
    font-size: 100%;
}   

#mortgageCalculatorImg{
    margin-top: 30%;
    width: 70%;
}

#interestRateCalculatorImg{
    margin-top: 50%;
    width: 70%;
}

#carPaymentCalculatorImg{
    margin-top: 30%;
    width: 80%;
}

    #navbar{
        min-height: 10vh;
    }

    #navbar ul{
        height: 100%;
    }

    #navbar ul a{
        font-size: 150%;
    }

    .contact-body{
        margin-top: 150px;
    }

    .contact-form{
        width: 70%;
        border: 1px solid #ccc;
        margin-top: 2%;
        padding: 2%;
        background-color: #ffffff;
        box-shadow: inset;
    }

    .column{
        float: left;
        width: 17%;
        text-align: center;
        margin-top: 100px;
        margin-left: 10%;
        padding: 10px;
    }

    .column a{
        font-size: 80%;
    }


    .column img{
        display: inline-block;
        margin: auto;
        width: 200px;
    }

    #mortgageCalculatorImg{
        margin-top: 70%;
        width: 80%;
    }

    #interestRateCalculatorImg{
        margin-top: 50%;
        width: 70%;
    }

    #carPaymentCalculatorImg{
        margin-top: 30%;
        width: 80%;
    }


    .mortgage-calculator{
        margin-top: 100px;
    }

    .Calculate-button{
        position: relative;
        left: 230px;
    }

    .top h2{
        text-align: center;
    }

    #car{
        width: 200px;
        position: relative;
        left: 50px;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding: 20px;
    }
    
    .calbtn {
        width: 100%; 
        text-align: center;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s;
        cursor: pointer;
        overflow: hidden;
        line-height: 1.2;
        margin-bottom: 10px; 
    }
    
    .calbtn:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
        background-color: #fcdc58; 
    }
    
    .calbtn h1 {
        font-size: 1.5em;
        margin: 0;
        color: #333;
    }
    
    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 400px; 
        margin: 100px auto; 
        padding: 10px;
        height: auto; 
    }

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.content-container {
    display: flex;
    justify-content: space-between;
}


.map {
    padding-top: 20px; 
    padding-bottom: 20px; 
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-body {
    text-align: center;
    padding: 20px;
}

.chatbox {
    border: 2px solid black;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-container {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.bot-message {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 100%;
}

.input-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 2px solid black;
    background-color: #fff;
}

#textbox {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px; 
}

.submit-btn {
    background-color: #fcdc58;
    color: #333;
    padding: 12px 25px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    border: 2px solid black;
}

.submit-btn:hover {
    background-color: #ffa500; 
    border: 2px solid black;
}

.Information{
    margin-left: 100px;
}

.input-container {
    padding-left: 10px; 
}

h1 {
    margin-bottom: 20px; 
}

.input-chat {
    display: flex; 
    justify-content: space-between; 
}

.input-row input:first-child {
    margin-right: 20px; 
}

#profession {
    width: 100%; 
    height: 20px; 
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body.budget-page h1,
body.budget-page h2 {
    padding-left: 10px; 
}

body.budget-page .message {
    padding-left: 10px; 
}

body.budget-page .padded-paragraph {
    padding-left: 10px; 
}

#budgetTip {
    text-align: center;
    margin-top: 20px; 
}

.calculator-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#title{
    text-align: center;
    color: white;
}

.mortgage-calculator{
    border-radius: 10px; 
    width: 600px;
    margin: 24px auto; 
    background: white;
    box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #14213d;
}



.mortgage-calculator .top{

    background-color: #ffcb05;
    color: #fff;
    padding: 32px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

.mortgage-calculator .top h2{
    margin-top: 0;
}

.mortgage-calculator form{

    display: flex;
    gap: 12px; 
    justify-content: space-between;
}

.mortgage-calculator .title{
    margin-bottom: 16px;
}

.mortgage-calculator form input{
    font-size: 20px;
    padding: 12px 16px ;
    width: 100%;
}

.mortgage-calculator .result{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mortgage-calculator .result .left{
    width: 100%;
    padding: 8px 32px;
}

.mortgage-calculator .total-mortgage .left{
    width: 100%;
    padding: 8px 32px;
}


.mortgage-calculator .total-Amount .left{
    width: 100%;
    padding: 8px 32px;
}

.mortgage-calculator .left h3{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.mortgage-calculator .newres .value{
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(20, 33, 61, 0.2)
}



.mortgage-calculator .newres .value::before{
    content: "CA$";
    font-size: 24px; 
    font-weight: 400;
    margin-right: 6px;
    opacity: 0.4;
}

.mortgage-calculator .Calculate-button{

    background: #ffcb05;
    color: white;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 18px; 
    font-weight: 900;
    cursor: pointer;
    margin: 24px 0;
}

.mortgage-calculator form input {
    border: 1px solid transparent; 
    font-size: 20px;
    padding: 12px 16px;
    width: 70%; 
    margin: 0 auto; 
    border-radius: 10px; 
    margin-bottom: 10px; 
}

h2 {
    margin-bottom: 20px; 
}


.graph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 

}


.container {
    display: flex;
    justify-content: space-between;
}

#calculator, .graph-container {
    flex: 1;
    width: 50%;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.graph-container,.debtChart {
    flex: 1;
    padding-right: 5%; 
}

#initialAmount, #inflationRate, #years, #principal, #interestRate, #payments, #compoundingFrequency,
#initialDebt,#annualInterestRate,#monthlyPayment,#income,#housing,#utilities,#groceries,#entertainment,
#miscellaneous,#income {
    border: 2px solid black; 
    border-radius: 15px; 
}

.header-content {
    margin-bottom: 10px;
    color: rgb(38, 30, 30);
    text-align: center;
    font-size: 2vmin
}


.Information {
    line-height: 5em;
    font-size: 2vmin
}

.Video{
    text-align: center;
    font-size: 4vmin;
}

/* quiz */

.app {
    background: white; 
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    border: 2px solid black; 
    border-color: black;
}

.app h1{
    font-weight: 25px;
    color: black;
    font-weight: 600;
    border-bottom: 2px solid;
    padding-bottom: 30px;
 
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.btn{
    background: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 2px solid black; 
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 15px; 
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover{
    background: black;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: black;
    color: white;
    font-weight: 500;
    width: 75px;
    border: 0;
    padding: 10px;
    margin: 20px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background-color: #9aeabc;
}

.incorrect{
    background: #ff9393;
}


.app {
    background: white; 
    width: 90%;
}

.header-content {
    margin-bottom: 10px;
    color: rgb(38, 30, 30);
    text-align: center;
    font-size: 2vmin
}


.Information {
    line-height: 5em;
    font-size: 2vmin
}

.Video{
    text-align: center;
    font-size: 4vmin;
}

/* quiz */

.app {
    background: white; 
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    border: 2px solid black; 
    border-color: black;
}

.app h1{
    font-weight: 25px;
    color: black;
    font-weight: 600;
    border-bottom: 2px solid;
    padding-bottom: 30px;
 
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.btn{
    background: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 2px solid black; 
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 15px; 
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover{
    background: black;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: black;
    color: white;
    font-weight: 500;
    width: 75px;
    border: 0;
    padding: 10px;
    margin: 20px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background-color: #9aeabc;
}

.incorrect{
    background: #ff9393;
}
